*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  --accent-1: #ffc593;
  --accent-2: #bc7198;
  --accent-3: #5a77ff;
  --pure-black: #000;
  --pure-white: #fff;
  --light-grey: #dfdfdf;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  line-height: 25px;
}

h1,
h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
p {
  color: rgba(0, 0, 0, 0.6);
}

svg {
  display: inline-block;
  vertical-align: middle;
}

a {
  color: inherit;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @media only screen and (min-width: 1070px) {
  .container {
    width: 1110px;
    margin: 0 auto;
  }
} */
.header {
  position: relative;
  padding: 28px 24px;
  background-color: var(--pure-white);
}

input[type=checkbox] {
  display: none;
  opacity: 0;
}

@media only screen and (max-width: 714px) {
  /* header label {
    width: 20px;
    height: 6px;
    border: 0;
    background: url(./shared/mobile/menu.svg) center no-repeat;
  }

  input[type="checkbox"]:checked ~ label {
    width: 16px;
    height: 15px;
    background: url(./shared/mobile/close.svg) center no-repeat;
  }

  input[type="checkbox"]:checked ~ .header__menu {
    display: block;
  }

  input[type="checkbox"]:checked ~ .header__menu::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  } */
}
@media only screen and (min-width: 715px) {
  .header {
    padding: 1em;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__nav a {
    display: inline-block;
    margin: 0 15px;
  }
}
.footer__nav {
  margin-top: 49px;
  margin-bottom: 49px;
}

.footer__nav a {
  display: block;
  margin: 8px 0;
  text-transform: uppercase;
  color: var(--pure-white);
}

.footer__nav a:hover {
  color: rgba(255, 255, 255, 0.3);
}

.header__nav a {
  margin: 8px 0;
  display: block;
  color: var(--pure-black);
  text-transform: uppercase;
}
.header__nav a:hover {
  color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 714px) {
  .header__nav {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
  .header__nav a {
    font-size: 15px;
  }
  .header__nav a:not(:first-child) {
    margin-top: 20px;
  }
  .header__nav a:is(:last-child) {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 715px) {
  .footer__nav {
    margin-top: 33px;
    margin-bottom: 70px;
  }

  .footer__nav a {
    display: inline-block;
    margin: 0;
  }

  .footer__nav a:not(:first-child) {
    margin: 0 10px;
  }

  .header__nav a {
    display: inline-block;
    margin: 0 15px;
  }
}
@media only screen and (min-width: 1070px) {
  .footer__nav {
    margin: 0;
  }

  .footer__nav a {
    display: block;
    margin: 10px 0;
  }

  .footer__nav a:not(:first-child) {
    margin: 10px 0;
  }

  .footer__nav a:is(:first-child) {
    margin-top: 0;
  }
}
.footer {
  padding: 56px 33px;
  text-align: center;
  background-color: var(--pure-black);
}
.footer .logo svg path:is(:first-child) {
  fill: #fff;
}
.footer__social {
  max-width: 154px;
  margin: 33px auto 40px;
  display: flex;
  justify-content: space-between;
}
.footer__social a {
  display: inline-block;
}
.footer__social a:not(:hover) svg path {
  fill: #fff;
}
.footer .link.white svg g {
  stroke: #fff;
}
.footer .copyright {
  margin-top: 34px;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 715px) {
  .footer {
    padding: 64px 0;
  }
  .footer .container {
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
  .footer__social {
    margin: 0;
    order: 2;
  }
  .footer__column {
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 0;
  }
  .footer__column:last-child {
    text-align: right;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1070px) {
  .footer {
    padding: 55px 0;
  }
  .footer .container {
    max-width: 1110px;
    margin: auto;
  }
  .footer__column:first-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .footer__social {
    margin-top: -50px;
  }
}
.button {
  display: block;
  padding: 14px 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--pure-white);
  background-color: var(--pure-black);
  transition: background 1s cubic-bezier(0.165, 0.84, 0.44, 1), color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button:hover {
  color: var(--pure-white);
  background-color: var(--light-grey);
}

@media only screen and (min-width: 715px) {
  .button {
    display: inline-block;
    padding: 0.7em 2em;
  }
}
.link span {
  text-transform: uppercase;
}
.link.black {
  color: var(--pure-black);
}
.link.white {
  color: var(--pure-white);
}
.link.white + svg g {
  stroke: var(--pure-white);
}
.link + svg {
  margin-left: 18px;
}
.link:hover span {
  text-decoration: underline;
}

.block .content {
  padding: 10% 8%;
}
.block p {
  margin: 16px 0 23px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 25px;
}
.block.invite .content {
  position: relative;
  background-color: var(--pure-black);
}
.block.invite .heading {
  color: var(--pure-white);
}
.block.invite p {
  color: rgba(255, 255, 255, 0.6);
}
.block.highlight .content {
  position: relative;
}
.block.highlight .body::before {
  content: "";
  position: absolute;
  top: 0;
  height: 6px;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  background: linear-gradient(26.57deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
}
.block.top .heading {
  color: var(--pure-white);
}
.block.top p {
  margin: 20px 0;
  color: rgba(255, 255, 255, 0.6);
}

@media only screen and (min-width: 715px) {
  .block {
    display: flex;
    justify-content: space-between;
  }
  .block .content {
    padding: 5%;
    width: 64.44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .block .body + a {
    display: block;
    margin-top: 40px;
  }
  .block picture {
    width: 35.54%;
  }
  .block:nth-child(odd) picture {
    order: 2;
  }
  .block p {
    margin: 21px 0 0;
  }
  .block.top {
    position: relative;
    max-height: 650px;
  }
  .block.top picture {
    width: 100%;
  }
  .block.top img {
    max-width: 100%;
  }
  .block.top .content {
    position: absolute;
    left: 5em;
    padding: 0;
    width: 400px;
    height: 100%;
    background-color: transparent;
  }
  .block.highlight .body::before {
    top: 0;
    left: -6em;
    width: 6px;
    height: 100%;
    transform-origin: 0 0;
    /* top: 50%;
    left: 0;
    transform-origin: 6px 0; */
  }
}
@media only screen and (min-width: 1070px) {
  .block .content {
    width: 42.36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .block picture {
    width: 57.63%;
  }
}
.hero {
  min-height: 650px;
  height: 68vh;
  background: url(../../assets/stories/desktop/moon-of-appalacia.jpg) center/cover no-repeat;
}
.hero .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.hero__story {
  max-width: 390px;
}
.hero__headline, .hero__title {
  text-transform: uppercase;
}
.hero__headline {
  font-size: 12px;
  color: var(--pure-white);
}
.hero__title {
  margin: 24px 0 16px;
  color: var(--pure-white);
  font-size: 40px;
  line-height: 48px;
}
.hero__credit {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.75);
}
.hero__credit span {
  color: var(--pure-white);
}
.hero__text {
  margin: 24px 0;
  color: rgba(255, 255, 255, 0.6);
}

.story {
  position: relative;
  display: block;
}

.story h3 {
  color: var(--pure-white);
}

.story p {
  font-size: 13px;
  color: var(--pure-white);
}

.story article {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 33px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%);
}

.story .link {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding-top: 23px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

@media only screen and (min-width: 715px) {
  .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 500px);
  }
}
@media only screen and (min-width: 1070px) {
  .grid-2 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  .story {
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateY(0);
  }

  .story:hover {
    transform: translateY(-20px);
  }

  .story::after {
    content: "";
    opacity: 0;
    display: block;
    width: 100%;
    height: 6px;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    background: linear-gradient(26.57deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
  }

  .story:hover::after {
    opacity: 1;
  }
}
.features {
  text-align: center;
}
.features:not(:first-child) {
  margin-top: 56px;
}
.features svg + h3 {
  margin-top: 48px;
}
.features h3 + p {
  margin-top: 16px;
}

/* @media only screen and (min-width: 715px) {
  .features {
    margin: 120px 156px;
  }
} */
@media only screen and (min-width: 1070px) {
  .features {
    margin: 50px 0;
  }
  .features .container {
    max-width: 1110px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features__item {
    padding: 50px 15px;
    flex: 1 1 350px;
  }
  .features__item svg {
    height: 72px;
  }
}

/*# sourceMappingURL=styles.css.map */
