.features {
  // margin: 80px 33px;
  text-align: center;

  &:not(:first-child) {
    margin-top: 56px;
  }

  svg + h3 {
    margin-top: 48px;
  }

  h3 + p {
    margin-top: 16px;
  }
}

/* @media only screen and (min-width: 715px) {
  .features {
    margin: 120px 156px;
  }
} */

@media only screen and (min-width: 1070px) {
  .features {
    margin: 50px 0;
    .container {
      max-width: 1110px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      // align-items: center;
      justify-content: space-between;
    }

    &__item {
      padding: 50px 15px;
      flex: 1 1 350px;

      & svg {
        height: 72px;
      }
    }
  }
}
