.footer {
	padding: 56px 33px;
	text-align: center;
	background-color: var(--pure-black);
}

.footer .logo svg path:is(:first-child) {
	fill: #FFF;
}

.footer__nav {
	margin-top: 49px;
	margin-bottom: 49px;
}

.footer__nav a {
	display: block;
	margin: 8px 0;
}

.footer__social {
	max-width: 154px;
	margin: 33px auto 40px;
	display: flex;
	justify-content: space-between;
}

.footer__social a {
	display: inline-block;
}

.footer__social a:not(:hover) svg path {
	fill: #fff;
}

footer .link.white svg g {
	stroke: #fff;
}

.footer .copyright {
	margin-top: 34px;
	color: hsla(0, 0%, 100%, 50%);
}

@media only screen and (min-width:715px) {
	.footer {
		padding: 64px 40px;
		display: flex;
		text-align: left;
		justify-content: space-between;
	}

	.footer__nav {
		margin-top: 33px;
    	margin-bottom: 70px;
	}
	
	.footer__nav a {
		display: inline-block;
		margin: 0;
	}

	.footer__nav a:not(:first-child) {
		margin: 0 10px;
	}

	.footer__social {
		margin: 0;
		order: 2;
	}

	.footer__column {
		display: inline-flex;
		flex-direction: column;
		flex: 1 1 0;
	}

	.footer__column:last-child {
		text-align: right;
		justify-content: space-between;
	}	
}

@media only screen and (min-width: 1070px) {
	.footer {
		padding: 55px 170px;
	}

	.footer__column:first-child {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
	}

	.footer__nav {
		margin: 0;
	}

	.footer__nav a {
		display: block;
		margin: 10px 0;
	}

	.footer__nav a:not(:first-child) {
		margin: 10px 0;
	}

	.footer__nav a:is(:first-child) {
		margin-top: 0;
	}

	.footer__social {
		margin-top: -50px;
	}
}