.hero {
  min-height: 650px;
  height: 68vh;
  background: url(../../assets/stories/desktop/moon-of-appalacia.jpg) center /
    cover no-repeat;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__story {
    max-width: 390px;
  }

  &__headline,
  &__title {
    text-transform: uppercase;
  }

  &__headline {
    font-size: 12px;
    color: var(--pure-white);
  }

  &__title {
    margin: 24px 0 16px;
    color: var(--pure-white);
    font-size: 40px;
    line-height: 48px;
  }

  &__credit {
    font-size: 13px;
    color: hsla(0, 0%, 100%, 75%);

    span {
      color: var(--pure-white);
    }
  }

  &__text {
    margin: 24px 0;
    color: hsla(0, 0%, 100%, 60%);
  }
}
